@font-face {
  font-family: "HarryP";
  src: url("HarryPotterFont/harryp-webfont.woff2") format("woff2"), url("HarryPotterFont/harryp-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  --primary-color: lightgray;
  --border-text-color: black;
  --primary-font: HarryP, sans-serif;
  --alert-color: gray;
}
* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: #181b1d;
  margin: 0;
  max-width: 100%;
}

label {
  color: var(--primary-color);
  display: block;
  margin-bottom: 0.4em;
  margin-left: 0.9em;
  padding-top: 0.9em;
  font-size: 0.8em;
}

select {
  padding: 0.3em;
  border-radius: 25px;
  margin-left: 0.9em;
}

.filterCon {
  width: max-content;
  margin: auto;
}
.sortCon {
  width: max-content;
  margin: auto;
}

.adjust {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 1px 2px 3px black;
  max-width: 100%;
  padding-bottom: 0.9em;
}

input {
  padding: 0.3em;
  border-radius: 25px;
  display: block;
  margin: auto;
}
html {
  padding: 0;
  margin: 0;
}
.modal {
  background-color: var(--primary-color);
  color: var(--border-text-color);
  margin: auto;
  width: 100%;
  height: max-content;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 3px 15px 10px black;
  border: solid 5px;
  border-color: var(--border-text-color);
}

h1 {
  bottom: 0;
  margin: 0;
  font-size: 7rem;
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-weight: 100;
}

h3 {
  font-family: var(--primary-font);
  font-size: 3rem;
  margin: 0;
  color: var(--primary-color);
  font-weight: 100;
  display: inline;
  white-space: pre;
}
h2 {
  margin: 0;
  max-width: 100%;
}

.textContainer {
  max-width: 100%;
}

.BG {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 0.7em;
}
.hide {
  display: none;
}

button {
  display: block;
  padding-top: 8pt;
  padding-bottom: 8pt;
  border-radius: 10px;
  padding-left: 16pt;
  padding-right: 16pt;
  margin-bottom: 1em;
  font-weight: 600;
}

.infoContainer {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  grid-gap: 1em;
}

.close {
  margin: 0;
  padding: 0;
}

.crest {
  width: 50px;
  height: auto;
}

main {
  padding: 0;
}

main :first-child {
  margin-top: 0;
}

li {
  max-width: 100%;
  list-style: none;
  margin-left: 0;
  padding-top: 0.9em;
  padding-bottom: 0.9em;
  padding-left: 0.9em;
  border-bottom: solid 1px #3d3c3b;
  color: var(--primary-color);
}

li:hover {
  color: azure;
  text-shadow: 0 0 5px azure;
  font-size: 1.2em;
  background-color: #26282a;
}

ul {
  padding-left: 0;
  max-width: 100%;
}
.img {
  max-height: 30vh;
}
.profile {
  display: block;
  margin: auto;
}

header {
  max-width: 100%;
  background-image: url("images/bg1.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 2%;
  padding-bottom: 1%;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  margin-bottom: 0.9em;
}

.Slytherin {
  --primary-color: #013300;
  --border-text-color: #99999c;
}

.Ravenclaw {
  --primary-color: #002e5f;
  --border-text-color: #99999c;
}

.Gryffindor {
  --primary-color: #670001;
  --border-text-color: #ce9901;
}

.Hufflepuff {
  --primary-color: #cc9900;
  --border-text-color: black;
}

.Expelled {
  --primary-color: #26282a;
  --border-text-color: #8f9194;
}

.prefectBG,
.expelBG,
.hackBG,
.cantBG {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 0.7em;
}

.prefectAlert h1,
.expelAlert h1,
.hackAlert h1,
.cantAlert h1 {
  font-size: 3rem;
  color: black;
}

.prefectAlert,
.expelAlert,
.hackAlert,
.cantAlert {
  display: block;
  margin: auto;
  width: max-content;
  max-width: 80vw;
  height: max-content;
  padding: 2em;
  background-color: var(--alert-color);
}

.alarm {
  animation: colors 2s infinite;
}

@keyframes colors {
  0% {
    background-color: rgba(255, 0, 0, 0.8);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.8);
  }
  100% {
    background-color: rgba(255, 0, 0, 0.8);
  }
}
.test {
  position: sticky;
  top: 0;
  background-color: #181b1d;
  padding-top: 0.9em;
}
.prefectAlert button,
.expelAlert button {
  display: inline;
}
.Prefectclose,
.Alertclose,
.cantclose {
  text-align: right;
  margin-top: 0;
}

.removing {
  animation: remove 1s forwards;
}

@keyframes remove {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-300px);
  }
}
@media all and (min-width: 500px) {
  .modal {
    margin-top: 7%;
    width: max-content;
  }
}
